/* style spécifique à certaine pages */

.informations {
  background: $backgroung-grey;
  height: 20rem;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__title {
    padding-bottom: 1rem;
  }

  p {
    padding-bottom: 3rem;
    font-size: 1.1rem;
    font-weight: lighter;
  }
}
