@charset "UTF-8";
/* Utils */
/*arrive par a mettre un argument*/
/* Base */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* déclaration des keyframes */
/* loader */
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  /*-0.5 elle descend*/
  25% {
    transform: translateY(-1rem);
  }
  /*elle revient au centre*/
  50% {
    transform: translateY(0);
  }
  /*elle remonte*/
  75% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/* Layout */
.header__wrapper-img {
  display: flex;
  justify-content: center;
  padding: 1.3rem 0 0.5rem 0;
}

.header__wrapper-search {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px inset;
  color: #303030;
  font-size: 1rem;
}
.header__wrapper-search i {
  padding-right: 1rem;
  color: #353535;
}
.header__wrapper-search input {
  background-color: #eaeaea;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.header__wrapper-search input::placeholder {
  color: #353535;
}

.functioning {
  padding: 3.5rem 1.5rem;
}
.functioning__title {
  padding-bottom: 2rem;
}
.functioning__list {
  display: flex;
  flex-direction: column;
}
.functioning__item {
  background: #f6f6f6;
  margin-bottom: 1.8rem;
  display: flex;
  position: relative;
  padding: 1.75rem;
  border-radius: 1.3rem;
  transition-duration: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}
.functioning__item p {
  font-weight: 500;
  font-size: 1rem;
}
.functioning__item:hover {
  background-color: #f5edff;
}
.functioning__item:hover .functioning__item__wrapper-icon {
  color: #9356DC;
  transition-duration: 0.5s;
}
.functioning__item__number {
  background-color: #9356DC;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  left: -0.7rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.functioning__item__wrapper-icon {
  width: 2.5rem;
  color: grey;
}
.functioning__item__wrapper-icon i {
  font-size: 1.1rem;
}

.restaurants {
  padding: 3.5rem 1.5rem;
  background-color: #f6f6f6;
}
.restaurants__title {
  padding-bottom: 1.5rem;
}
.restaurants img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants .button-new {
  /*z-index: 1;*/
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #99E2D0;
  color: green;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.2rem;
}
.restaurants .card__description {
  padding: 1rem;
}
.restaurants .card__description span {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
}
.restaurants .card__description p {
  color: black;
  font-size: 1.1rem;
  font-weight: 200;
  padding-top: 0.3rem;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1.5rem 1.5rem;
  height: 15rem;
}
.footer__title {
  font-family: "Shrikhand";
  font-weight: lighter;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.footer__column__link {
  color: white;
  font-size: 1.1rem;
}
.footer__column li {
  padding-bottom: 0.6rem;
}
.footer .fa-utensils {
  padding-right: 1rem;
}
.footer .fa-hands-helping {
  font-size: 0.7rem;
  padding-right: 1rem;
}

/* Components */
.btn {
  padding: 1rem 1.2rem;
  margin: auto;
  border-radius: 2rem;
  border-style: none;
  font-size: 1.1rem;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px;
  color: white;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 8px;
  transition-duration: 0.5s;
}

.header__return {
  font-size: 1.4rem;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color: black;
}

.card {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  height: 17.5rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  /*.icone-heart {
      position: absolute;
      right: 2rem;
      bottom: 2.1rem;
      font-size: 1.6rem;
      /*coeur de base couleur noir dans html fas au lieu de far --> transparent*/
  /*color: transparent;
      /*je rajoute les bords*/
  /*-webkit-text-stroke: 2px black;

      &:hover {
        /*background sur tout le fond*/
  /*background: linear-gradient(0deg, $colour-secondary, $colour-primary);
        /*background seulement dans le coeur*/
  /*propriété de base et en plus celle avec le préfixe*/
  /*background-clip: text;
        -webkit-background-clip: text;
        /*j'enlève la bordure noir du coeur*/
  /*-webkit-text-stroke: transparent;
      }
    }*/
  /*.white {
    z-index: 1;
    background-color: white;
    position: absolute;
    right: 2rem;
    bottom: 2.1rem;
    font-size: 1.6rem;
    color: black;

    &:hover {
      opacity: 0;
      transition-duration: 1s;
    }
  }
  .colored {
    position: absolute;
    right: 2rem;
    bottom: 2.1rem;
    font-size: 1.6rem;
    color: transparent;
    background: linear-gradient(0deg, $colour-secondary, $colour-primary);
    background-clip: text;
    -webkit-background-clip: text;
  }*/
}

.white {
  z-index: 1;
  background-color: white;
  position: absolute;
  right: 2rem;
  bottom: 2.1rem;
  font-size: 1.6rem;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black;
}
.white:hover {
  opacity: 0;
  transition-duration: 1s;
}

.colored {
  position: absolute;
  right: 2rem;
  bottom: 2.1rem;
  font-size: 1.6rem;
  color: transparent;
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}

.loader__section {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
  /*position: absolute;*/
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /*durée de l'animation des boules*/
  animation: loader 1s;
  /*durée de l'animation de transparence*/
  /*durée de 0.75s*/
  animation-delay: 1.75s;
  animation-fill-mode: both;
}
.loader__wrapper {
  display: flex;
  justify-content: space-between;
  width: 7.5rem;
}
.loader__item {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  animation: jump ease-in-out 1s;
}
.loader__item--1 {
  background-color: #9356DC;
}
.loader__item--2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

/* Pages */
/* style spécifique à certaines pages */
.informations {
  background: #f6f6f6;
  height: 20rem;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.informations__title {
  padding-bottom: 1rem;
}
.informations p {
  padding-bottom: 3rem;
  font-size: 1.1rem;
  font-weight: lighter;
}

.header__img-restaurant {
  width: 100%;
  height: 20rem;
  z-index: -1;
  object-fit: cover;
}

.menus {
  width: 100%;
  /*height: 10rem;*/
  border-radius: 3rem 3rem 0 0;
  background-color: #f6f6f6;
  position: absolute;
  top: 20rem;
  padding: 2rem 1.5rem;
}
.menus__title {
  font-style: oblique 10deg;
  font-family: "Shrikhand";
  font-size: 1.8rem;
  font-weight: 500;
}

.icone-heart {
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
}

.enter h2 {
  font-weight: lighter;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}
.enter__bar {
  width: 3rem;
  height: 0.26rem;
  background-color: #99E2D0;
}
.enter__wrapper-p {
  width: 80%;
}
.enter__title {
  padding-bottom: 0.7rem;
  font-size: 1.2rem;
  font-weight: 500;
}

ul {
  padding-top: 1.2rem;
}
ul li {
  background-color: white;
  border-radius: 1rem;
  padding: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  display: flex;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
