.btn {
  padding: 1rem 1.2rem;
  margin: auto;
  border-radius: 2rem;
  border-style: none;
  font-size: 1.1rem;
  background: linear-gradient(180deg, $colour-secondary, $colour-primary);
  outline: none;
  box-shadow: rgb(0 0 0 / 30%) 0px 5px 8px;
  color: white;

  /*modifier pour le bouton rajoute du padding*/
  &--large {
    padding: 1rem 3rem;
  }

  &:hover {
    opacity: 0.8;
    @include box-shadow-card-hover;
    transition-duration: 0.5s;
  }
}

.header__return {
  font-size: 1.4rem;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color: black;
}
