.check {
    background-color: $colour-tertiary;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
    border-radius: 0 1rem 1rem 0;
}