.functioning {
  padding: 3.5rem 1.5rem;

  &__title {
    padding-bottom: 2rem;

    @include tablet {
      text-align: center;
    }

    @include desktop {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    background: $background-primary;
    margin-bottom: 1.8rem;
    display: flex;
    position: relative;
    padding: 1.75rem;
    border-radius: 1.3rem;
    transition-duration: 0.5s;
    @include box-shadow-card;

    p {
      font-weight: 500;
      font-size: 1rem;
    }

    &:hover {
      background-color: rgb(245, 237, 255);

      .functioning__item__wrapper-icon {
        color: $colour-primary;
        transition-duration: 0.5s;
      }
    }

    &__number {
      background-color: $colour-primary;
      color: white;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 1rem;
      left: -0.7rem;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
    }

    &__wrapper-icon {
      width: 2.5rem;
      color: grey;

      i {
        font-size: 1.1rem;
      }
    }
  }

  @include tablet {
    width: 30rem;
    margin: auto;
  }

  @include desktop {
    width: 40rem;
    margin: auto;
  }
}
