.restaurants {
  padding: 3.5rem 1.5rem;
  background-color: $background-primary;

  &__title {
    padding-bottom: 1.5rem;

    @include tablet {
      width: 100%;
      text-align: center;
    }

    @include desktop {
      width: 100%;
      text-align: center;
    }
  }

  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }

  .button-new {
    /*z-index: 1;*/
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: $colour-tertiary;
    color: green;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.2rem;
  }

  .card__description {
    padding: 1rem;

    span {
      color: black;
      font-size: 1.1rem;
      font-weight: bold;
    }

    p {
      color: black;
      font-size: 1.1rem;
      font-weight: 200;
      padding-top: 0.3rem;
    }
  }

  a {
    @include tablet {
      /*si 50% se touche 49% pour faire un space between*/
      /*padding non possible car ne centre pas*/
      width: 49%;
    }

    @include desktop {
      width: 24%;
    }
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
